# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Docker
.dockerenv
.dockerinit

# OS
.DS_Store
Thumbs.db

# Data
*.pdf
*.jpg
*.png
uploads/